# Chapter 8: Data ModificationÂ 
### <u>Exercise 5:</u>
Update in the dbo.Orders table all orders placed by UK customers and set their shipcountry, shipregion, shipcity values to the country, region, city values of the corresponding customers from dbo.Customers

In [3]:
-- Drop tables if they exist for a clean start
DROP TABLE IF EXISTS dbo.Orders;
DROP TABLE IF EXISTS dbo.Customers;

-- Create the Customers table
CREATE TABLE dbo.Customers
(
  custid      INT          NOT NULL PRIMARY KEY,
  companyname NVARCHAR(40) NOT NULL,
  country     NVARCHAR(15) NOT NULL,
  region      NVARCHAR(15) NULL,
  city        NVARCHAR(15) NOT NULL  
);

-- Create the Orders table
CREATE TABLE dbo.Orders
(
    orderid     INT NOT NULL PRIMARY KEY,
    custid      INT NOT NULL,
    shipcountry  NVARCHAR(15) NULL,
    shipregion   NVARCHAR(15) NULL,
    shipcity     NVARCHAR(15) NULL
);


UPDATE O
SET O.shipcountry = C.country,
    O.shipregion = C.region,
    O.shipcity = C.city
FROM dbo.Orders AS O
INNER JOIN dbo.Customers AS C
ON O.custid = C.custid
WHERE C.country = N'UK';