In [6]:
USE TSQLV4;
GO

custid,companyname,phone,address
1,cust 1,(111) 111-1111,address 1
2,AAAAA,(222) 222-2222,address 2
3,cust 3,(333) 333-3333,address 3
4,cust 4,(444) 444-4444,address 4
5,BBBBB,CCCCC,DDDDD
6,cust 6 (new),(666) 666-6666,address 6
7,cust 7 (new),(777) 777-7777,address 7

In [7]:
SELECT * FROM dbo.Customers;

custid,companyname,phone,address
1,cust 1,(111) 111-1111,address 1
2,AAAAA,(222) 222-2222,address 2
3,cust 3,(333) 333-3333,address 3
4,cust 4,(444) 444-4444,address 4
5,BBBBB,CCCCC,DDDDD
6,cust 6 (new),(666) 666-6666,address 6
7,cust 7 (new),(777) 777-7777,address 7

The query output for me does not match the one from excercises.  
  
But if i was to make the query:  
  

> this is the query.  
>

In [8]:
UPDATE dbo.Customers
SET region = '<None>'
OUTPUT 
    inserted.custid,
    deleted.region AS oldregion,
    inserted.region AS newregion
WHERE region IS NULL;

: Msg 207, Level 16, State 1, Line 7
Invalid column name 'region'.