# Ch. 8

## Exercise 1-1 (Q)

The code below creates a Table called `dbo.Customers`:

In [5]:
use TSQLV6;

drop table if exists dbo.Customers;

create table dbo.Customers(
    CustID      int             not null primary key,
    CompanyName nvarchar(40)    not null,
    Country     nvarchar(15)    not null,
    Region      nvarchar(15)    null,
    City        nvarchar(15)    not null
);

## Exercise 1-1 (S)

The code below inserts a row into `dbo.Customers` with the following information:

- <style font-size='16'>`CustID`</style>: **100**
- `CompanyName`: **Coho Winery**
- `Country`: **USA**
- `Region`: **WA**
- `City`: **Redmond**

In [4]:
-------------Previous-Code-Cell-------------
use TSQLV6;
drop table if exists dbo.Customers;
create table dbo.Customers(
    CustID      int             not null primary key,
    CompanyName nvarchar(40)    not null,
    Country     nvarchar(15)    not null,
    Region      nvarchar(15)    null,
    City        nvarchar(15)    not null
);
--------------------------------------------

insert into dbo.Customers(CustID, CompanyName, Country, Region, City)
    values (100, N'Coho Winery', N'USA', N'WA', N'Redmond');